# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/
/coverage

# Build and docs folder/files
build/*
dist/*
sdist/*
api_docs/api/*
api_docs/_rst/*
api_docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/

# Compiled code
*.c

# Containerized DB data
data/

# dependencies
node_modules/
/.pnp
.pnp.js

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
