version: "3"

networks:
  net:
    driver: bridge

services:
  godot:
    build: ../third_party/godot/container
    ports:
      - "6080:80"
    privileged: true
    # stdin_open: true
    # tty: true
    networks:
      - net

  feagi:
    build: ./
    privileged: true
    environment:
      - "PYTHONUNBUFFERED=1"
    ports:
      - 30003:30003
    networks:
      - net

