version: "3"

networks:
  net:
    driver: bridge

services:
  influxdb:
    image: influxdb:2.0.7
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2g'
    environment:
      - INFLUXDB=true
      - DOCKER_INFLUXDB_INIT_MODE=$INFLUXDB_MODE
      - DOCKER_INFLUXDB_INIT_RETENTION=$INFLUXDB_RETENTION
      - DOCKER_INFLUXDB_INIT_USERNAME=$INFLUXDB_USERNAME
      - DOCKER_INFLUXDB_INIT_PASSWORD=$INFLUXDB_PASSWORD
      - DOCKER_INFLUXDB_INIT_ORG=$INFLUXDB_ORG
      - DOCKER_INFLUXDB_INIT_BUCKET=$INFLUXDB_BUCKET
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=$INFLUXDB_TOKEN
    ports:
      - 8086:8086
    volumes:
      - influxdb_data:/var/lib/influxdb
#    healthcheck:
#      test: "exit 0"
    networks:
      - net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8086" ]
      interval: 30s
      timeout: 10s
      retries: 5

  ros-gazebo:
    build: ../third_party/gazebo/simulation
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: '3g'
    ports:
      - "6080:80"
    privileged: true
    networks:
      - net
    volumes:
      #- <local path>:<docker path>                                 Only update the local path, keep docker path static
      # Robot mapping
      - ../third_party/gazebo/simulation/robots/smart_car/smart_car.sdf:/opt/source-code/simulation/robots/smart_car/smart_car.sdf
      # Environment mapping
      - ../third_party/gazebo/simulation/environments/material/map1.png:/opt/source-code/simulation/environments/material/map1.png

  godot:
    build: ../third_party/godot/
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2g'
    ports:
      - "6081:8080"
      - "9050:9050"
    environment:
      - CONTAINERIZED=true
      - PYTHONUNBUFFERED=1
    privileged: true
    networks:
      - net
    depends_on:
      - feagi

  grafana:
    build: ../third_party/grafana/
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2g'
    environment:
      - INFLUXDB_USER=$INFLUXDB_USERNAME
      - INFLUXDB_PASSWORD=$INFLUXDB_PASSWORD
      - INFLUXDB_TOKEN=$INFLUXDB_TOKEN
      - INFLUXDB_ORG=$INFLUXDB_ORG
      - INFLUXDB_BUCKET=$INFLUXDB_BUCKET
    ports:
      - 6082:3000
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - net
    depends_on:
      - influxdb

  feagi:
    build: ./
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2g'
    ports:
      - "8000:8000"
      - "30000:30000"
    environment:
      - INFLUXDB=influxdb.environment.INFLUXDB
      - CONTAINERIZED=true
      - PYTHONUNBUFFERED=1
    volumes:
      - ../src/:/opt/source-code/feagi/src

    networks:
      - net

  gui:
    build:
      context: ../src/gui/
      args:
        INSTANCE_IP: ${INSTANCE_IP}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '2g'
    ports:
      - "3000:3000"
    networks:
      - net
    depends_on:
      - feagi


volumes:
  grafana_data:
  influxdb_data:
